<div class="container ">
    <form [formGroup]="productForm" (ngSubmit)="onHandleSubmit()">
        <h1 class="mt-5 text-center text-[30px] font-bold">Thêm Sản Phẩm</h1>
        <div class="mb-3 ">
            <label for="exampleInputEmail1" class="form-label block mt-9">Tên Sản Phẩm</label>
            <input type="email" class="form-control " id="exampleInputEmail1" formControlName="name">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Giá</label>
            <input type="number" class="form-control" id="exampleInputPassword1" formControlName="price">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Ảnh</label>
            <input type="text" class="form-control" id="exampleInputPassword1" formControlName="img">
        </div>
        <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                style="height: 100px" formControlName="description"></textarea>
            <label for="floatingTextarea2">Comments</label>
        </div>

        <button type="submit" [disabled]="!productForm.valid" class="btn btn-info bg-teal-300 mt-6 block mx-auto">Submit</button>
    </form>
</div>