<div class="container">
  <!--    <table class="table-border table mt-7">
           <thead>
               <tr>
                   <th>STT</th>
                   <th>Tên</th>
                   <th>Giá</th>
                   <th></th>
               </tr>
           </thead>
           <tbody>
              
               <tr *ngFor="let item of products; index as i">
                   <td width="50">{{ i + 1 }}</td>
                   <td width="50">
                       <img width="50" [src]="item.img" />
                   </td>
                   <td>{{ item.name }}</td>
                   <td>{{ item.price }}</td>
                   <td>
                       <button
                           class="btn btn-danger"
                           (click)="removeItem(item._id!)"
                       >
                           Xóa
                       </button>
                   </td>
               </tr>
           </tbody>
       </table>  -->



  <div class="overflow-x-auto mt-7">
    <table class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm">
      <thead class="ltr:text-left rtl:text-right">
        <tr>
          <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
            STT
          </th>
          <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
            Name
          </th>
          <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
            Images
          </th>
          <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
            Price
          </th>
          <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">

            Status
          </th>
          <th class="px-4 py-2"></th>
        </tr>
      </thead>

      <tbody class="divide-y divide-gray-200">
        <tr *ngFor="let item of products; index as i">
          <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
            {{ i + 1 }}
          </td>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700">{{ item.name }}</td>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700"><img class="w-[300px]" [src]="item.img" /></td>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700">{{ item.price }}</td>
          <td class="whitespace-nowrap px-4 py-2">
            <div class="inline-flex rounded-lg border border-gray-100 bg-gray-100 p-1">
              <button
                class="inline-flex items-center gap-2 rounded-md px-4 py-2 text-sm text-gray-500 hover:text-gray-700 focus:relative">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                  stroke="currentColor" class="h-4 w-4">
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                </svg>

                View
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>