<div class="container">
    <header class=" mx-auto ">
        <div class="flex bg-[#D9D9D9] justify-between pt-4 pb-4">
            <div class="flex space-x-4 pl-6 ">
                <img src="../../../assets/images/facebook-svgrepo-com.svg.svg" alt="">
                <img src="../../../assets/images/instagram-svgrepo-com (1).svg.svg" alt="">
                <img src="../../../assets/images/pinterest-svgrepo-com.svg.svg" alt="">
                <img src="../../../assets/images/snapchat-ghost-svgrepo-com.svg.svg" alt="">
                <img src="../../../assets/images/youtube-svgrepo-com.svg.svg" alt="">
            </div>
            <div class="absolute left-1/2 -translate-x-1/2">
                <span>Free shipping for standard order over $100</span>
            </div>
            <div class="">
                <span>fashe@example.com</span>
                <span class="pl-8 pr-9">USD</span>
            </div>
        </div>
        <div class="flex justify-between pt-8 pb-10">
            <div class="pl-6">
                <img src="../../../assets/images/image 1.png" alt="">
            </div>
            <div>
                <ul class="flex text-[20px]">
                    <li class="pr-4 "><a href="">Home</a></li>
                    <li class="pr-4"><a href="">Shop</a></li>
                    <li class="pr-4"><a href="">Sale</a></li>
                    <li class="pr-4"><a href="">Features</a></li>
                    <li class="pr-4"><a href="">Blog</a></li>
                    <li class="pr-4"><a href="">About</a></li>
                    <li class="pr-4"><a href="">Contact</a></li>
                </ul>
            </div>
            <div class="flex">
                <img class="mr-5" src="../../../assets/images/image 2.png" alt="">
                <span>|</span>
                <img class="ml-5 pr-5" src="../../../assets/images/image 3.png" alt="">
            </div>
        </div>
        <div class="bg-[#D9D9D9] text-center  ">
            <div class="pt-16 text-[30px] font-normal text-white">
                <span class=" ">Women Collection 2018</span>
            </div>
            <div class="text-[70px] pt-6 font-bold text-white pb-5"><span>New arrivals</span></div>
            <div class="">
                <a href=""><button class="bg-white pl-6 pr-6 text-[23px] mb-64 rounded-3xl">Show Now</button></a>
            </div>
        </div>
    </header>
    <main>
        <section>
            <div class="max-w-7xl mx-auto px-5">
                <div class="grid grid-cols-3 gap-6">
                    <div class="pt-[35px]">
                        <div class="group pb-10">
                            <div class="relative overflow-hidden ">
                                <a href="./detail.html">
                                    <img class="w-[370px] hover:scale-125 transition-all duration-500 cursor-pointer"
                                        src="../../../assets/images/image 17.jpg" alt="">
                                </a>
                                <a href="./detail.html">
                                    <div
                                        class="absolute bottom-0  transition ease-in-out duration-300 flex justify-between items-center pl-32 pb-7  transform translate-y-full group-hover:translate-y-0   ">
                                        <div class="">
                                            <button class="bg-white w-[124px] h-[50px]">DRESSES</button>
                                        </div>
                                    </div>
                                </a>
                                <div
                                    class="absolute top-0 left-0  transition ease-in-out duration-300 text-white flex justify-between  items-center p-3  transform -translate-x-14 group-hover:translate-x-0 ">
                                </div>
                            </div>
                        </div>
                        <div class="group">
                            <div class="relative overflow-hidden ">
                                <a href="./detail.html">
                                    <img class="w-[370px] hover:scale-125 transition-all duration-500 cursor-pointer"
                                        src="../../../assets/images/image 17.jpg" alt="">
                                </a>
                                <a href="./detail.html">
                                    <div
                                        class="absolute bottom-0  transition ease-in-out duration-300 flex justify-between items-center pl-32 pb-7 w-full transform translate-y-full group-hover:translate-y-0   ">
                                        <div class="">
                                            <button class="bg-white w-[124px] h-[50px]">DRESSES</button>
                                        </div>
                                    </div>
                                </a>
                                <div
                                    class="absolute top-0 left-0  transition ease-in-out duration-300 text-white flex justify-between  items-center p-3  transform -translate-x-14 group-hover:translate-x-0 ">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pt-[35px]">
                        <div class="group pb-10">
                            <div class="relative overflow-hidden ">
                                <a href="./detail.html">
                                    <img class="h-[398px] w-[370px] hover:scale-125 transition-all duration-500 cursor-pointer"
                                        src="../../../assets/images/image 17.jpg" alt="">
                                </a>
                                <a href="./detail.html">
                                    <div
                                        class="absolute bottom-0  transition ease-in-out duration-300 flex justify-between items-center pl-32 pb-7 w-full transform translate-y-full group-hover:translate-y-0   ">
                                        <div class="">
                                            <button class="bg-white w-[124px] h-[50px]">DRESSES</button>
                                        </div>
                                    </div>
                                </a>
                                <div
                                    class="absolute top-0 left-0  transition ease-in-out duration-300 text-white flex justify-between  items-center p-3  transform -translate-x-14 group-hover:translate-x-0 ">
                                </div>
                            </div>
                        </div>
                        <div class="group">
                            <div class="relative overflow-hidden ">
                                <a href="./detail.html">
                                    <img class="w-[370px] hover:scale-125 transition-all duration-500 cursor-pointer"
                                        src="../../../assets/images/image 17.jpg" alt="">
                                </a>
                                <a href="./detail.html">
                                    <div
                                        class="absolute bottom-0  transition ease-in-out duration-300 flex justify-between items-center pl-32 pb-7 w-full transform translate-y-full group-hover:translate-y-0   ">
                                        <div class="">
                                            <button class="bg-white w-[124px] h-[50px]">DRESSES</button>
                                        </div>
                                    </div>
                                </a>
                                <div
                                    class="absolute top-0 left-0  transition ease-in-out duration-300 text-white flex justify-between  items-center p-3  transform -translate-x-14 group-hover:translate-x-0 ">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pt-[35px] ">
                        <div class="group pb-10">
                            <div class="relative overflow-hidden ">
                                <a href="./detail.html">
                                    <img class="w-[370px] hover:scale-125 transition-all duration-500 cursor-pointer"
                                        src="../../../assets/images/image 17.jpg" alt="">
                                </a>
                                <a href="./detail.html">
                                    <div
                                        class="absolute bottom-0  transition ease-in-out duration-300 flex justify-between items-center pl-32 pb-7 w-full transform translate-y-full group-hover:translate-y-0   ">
                                        <div class="">
                                            <button class="bg-white w-[124px] h-[50px]">DRESSES</button>
                                        </div>
                                    </div>
                                </a>
                                <div
                                    class="absolute top-0 left-0  transition ease-in-out duration-300 text-white flex justify-between  items-center p-3  transform -translate-x-14 group-hover:translate-x-0 ">
                                </div>
                            </div>
                        </div>
                        <div class="group">
                            <div class="relative overflow-hidden ">
                                <a href="./detail.html">
                                    <img class="w-[370px] hover:scale-125 transition-all duration-500 cursor-pointer"
                                        src="../../../assets/images/image 17.jpg" alt="">
                                </a>
                                <a href="./detail.html">
                                    <div
                                        class="absolute bottom-0  transition ease-in-out duration-300 flex justify-between items-center pl-32 pb-7 w-full transform translate-y-full group-hover:translate-y-0   ">
                                        <div class="">
                                            <button class="bg-white w-[124px] h-[50px]">DRESSES</button>
                                        </div>
                                    </div>
                                </a>
                                <div
                                    class="absolute top-0 left-0  transition ease-in-out duration-300 text-white flex justify-between  items-center p-3  transform -translate-x-14 group-hover:translate-x-0 ">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <h1 class="text-[30px] text-center pt-24 pb-48 ">FEATURED PRODUCTS</h1>
            <div>
                <div class="max-w-7xl mx-auto px-5">
                    <div class="grid grid-cols-4 gap-5 pt-[35px]">
                        <div class="">
                            <div class="group relative overflow-hidden ">
                               
                                    <a href="./detail.html">
                                        <img class="hover:scale-125 transition-all duration-500 cursor-pointer "
                                            src="https://xtee.vn/wp-content/uploads/2021/11/BSX750D.png" alt="">
                                    </a>
                                
                                <a href="./detail.html">
                                    <div
                                        class="absolute bottom-0 transition ease-in-out duration-300 flex justify-between items-center pl-16 pb-7 w-full transform translate-y-full group-hover:translate-y-0   ">
                                        <div class="">
                                            <button class="bg-white w-[132px] h-[50px]">DRESSES</button>
                                        </div>
                                    </div>
                                </a>
                                <div class="absolute bottom-0 bg-[#00000032] transition ease-in-out duration-300 text-white flex justify-between items-center p-3 w-full h-full transform translate-y-full group-hover:translate-y-0 ">
                                </div>
                            </div>
                            <div>
                                <h3 class="text-[16px]  font-[600] open_sans pt-6 pb-6 hover:text-red-700"><a href="">Nike Air
                                        Zoom
                                        Pegasus</a></h3>
                                <div class="flex justify-between items-center">
                                    <div class="space-x-2">
                                        <span
                                            class="text-[16px] text-[#777777]  font-[600] open_sans">$220.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="">
                            <div class="group relative overflow-hidden ">
                               
                                    <a href="./detail.html">
                                        <img class="hover:scale-125 transition-all duration-500 cursor-pointer "
                                            src="https://xtee.vn/wp-content/uploads/2021/11/BSX750D.png" alt="">
                                    </a>
                                
                                <a href="./detail.html">
                                    <div
                                        class="absolute bottom-0 transition ease-in-out duration-300 flex justify-between items-center pl-16 pb-7 w-full transform translate-y-full group-hover:translate-y-0   ">
                                        <div class="">
                                            <button class="bg-white w-[132px] h-[50px]">DRESSES</button>
                                        </div>
                                    </div>
                                </a>
                                <div class="absolute bottom-0 bg-[#00000032] transition ease-in-out duration-300 text-white flex justify-between items-center p-3 w-full h-full transform translate-y-full group-hover:translate-y-0 ">
                                </div>
                            </div>
                            <div>
                                <h3 class="text-[16px]  font-[600] open_sans pt-6 pb-6 hover:text-red-700"><a href="">Nike Air
                                        Zoom
                                        Pegasus</a></h3>
                                <div class="flex justify-between items-center">
                                    <div class="space-x-2">
                                        <span
                                            class="text-[16px] text-[#777777]  font-[600] open_sans">$220.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="">
                            <div class="group relative overflow-hidden ">
                               
                                    <a href="./detail.html">
                                        <img class="hover:scale-125 transition-all duration-500 cursor-pointer "
                                            src="https://xtee.vn/wp-content/uploads/2021/11/BSX750D.png" alt="">
                                    </a>
                                
                                <a href="./detail.html">
                                    <div
                                        class="absolute bottom-0 transition ease-in-out duration-300 flex justify-between items-center pl-16 pb-7 w-full transform translate-y-full group-hover:translate-y-0   ">
                                        <div class="">
                                            <button class="bg-white w-[132px] h-[50px]">DRESSES</button>
                                        </div>
                                    </div>
                                </a>
                                <div class="absolute bottom-0 bg-[#00000032] transition ease-in-out duration-300 text-white flex justify-between items-center p-3 w-full h-full transform translate-y-full group-hover:translate-y-0 ">
                                </div>
                            </div>
                            <div>
                                <h3 class="text-[16px]  font-[600] open_sans pt-6 pb-6 hover:text-red-700"><a href="">Nike Air
                                        Zoom
                                        Pegasus</a></h3>
                                <div class="flex justify-between items-center">
                                    <div class="space-x-2">
                                        <span
                                            class="text-[16px] text-[#777777]  font-[600] open_sans">$220.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="">
                            <div class="group relative overflow-hidden ">
                               
                                    <a href="./detail.html">
                                        <img class="hover:scale-125 transition-all duration-500 cursor-pointer "
                                            src="https://xtee.vn/wp-content/uploads/2021/11/BSX750D.png" alt="">
                                    </a>
                                
                                <a href="./detail.html">
                                    <div
                                        class="absolute bottom-0 transition ease-in-out duration-300 flex justify-between items-center pl-16 pb-7 w-full transform translate-y-full group-hover:translate-y-0   ">
                                        <div class="">
                                            <button class="bg-white w-[132px] h-[50px]">DRESSES</button>
                                        </div>
                                    </div>
                                </a>
                                <div class="absolute bottom-0 bg-[#00000032] transition ease-in-out duration-300 text-white flex justify-between items-center p-3 w-full h-full transform translate-y-full group-hover:translate-y-0 ">
                                </div>
                            </div>
                            <div>
                                <h3 class="text-[16px]  font-[600] open_sans pt-6 pb-6 hover:text-red-700"><a href="">Nike Air
                                        Zoom
                                        Pegasus</a></h3>
                                <div class="flex justify-between items-center">
                                    <div class="space-x-2">
                                        <span
                                            class="text-[16px] text-[#777777]  font-[600] open_sans">$220.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <h1 class="text-center text-[30px] font-normal pt-36 pb-36">OUT BL0G</h1>
            <div class="max-w-7xl mx-auto px-5">
                <div class="flex gap-28">
                    <div>
                        <img class="hover:scale-125 transition-all duration-500 cursor-pointer" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPRA5pO9CDUABDstBhqd5hGW3M8nrg4qOhLA&usqp=CAU"
                            alt="">
                        <a href=""><p class="font-normal text-[16px] text-[#333333] pt-7 hover:text-red-700">Black Friday Guide:Best sales & Discount
                            codes</p></a>
                        <p class="text-[14px] font-normal text-[#555555] pt-3">By Nancy Ward on July 22, 2017</p>
                        <p class="text-[13px] font-normal text-[#888888] pt-2">Duis ut velit gravida nibh bibendum
                            commodo. Sus-pendisse pellentesque mattis augue id
                            euismod. Inter-dum et malesuada fames</p>
                    </div>
                    <div>
                        <img class="hover:scale-125 transition-all duration-500 cursor-pointer" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPRA5pO9CDUABDstBhqd5hGW3M8nrg4qOhLA&usqp=CAU"
                            alt="">
                        <a href=""><p class="font-normal text-[16px] text-[#333333] pt-7 hover:text-red-700">Black Friday Guide:Best sales & Discount
                            codes</p></a>
                        <p class="text-[14px] font-normal text-[#555555] pt-3">By Nancy Ward on July 22, 2017</p>
                        <p class="text-[13px] font-normal text-[#888888] pt-2">Duis ut velit gravida nibh bibendum
                            commodo. Sus-pendisse pellentesque mattis augue id
                            euismod. Inter-dum et malesuada fames</p>
                    </div>
                    <div>
                        <img class="hover:scale-125 transition-all duration-500 cursor-pointer" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPRA5pO9CDUABDstBhqd5hGW3M8nrg4qOhLA&usqp=CAU"
                            alt="">
                        <a href=""><p class="font-normal text-[16px] text-[#333333] pt-7 hover:text-red-700">Black Friday Guide:Best sales & Discount
                            codes</p></a>
                        <p class="text-[14px] font-normal text-[#555555] pt-3">By Nancy Ward on July 22, 2017</p>
                        <p class="text-[13px] font-normal text-[#888888] pt-2">Duis ut velit gravida nibh bibendum
                            commodo. Sus-pendisse pellentesque mattis augue id
                            euismod. Inter-dum et malesuada fames</p>
                    </div>
                </div>
                
            </div>
            

        </section>

    </main>
    <footer>
        <section>
            <div class=" mx-auto max-w-7xl mt-36">
                <div class="flex justify-between ">
                    <div>
                        <h5>GET IN TOUCH</h5>
                        <p class="text-[13px] pt-9 ">Any questions? Let us know in store at 8th floor, 379 Hudson St,
                            New <tr></tr> York, NY 10018 or call us on (+1) 96 716 6879</p>
                        <div class="flex space-x-5 pt-6">
                            <img src="../../../assets/images/facebook-svgrepo-com.svg.svg" alt="">
                            <img src="../../../assets/images/instagram-svgrepo-com (1).svg.svg" alt="">
                            <img src="../../../assets/images/pinterest-svgrepo-com.svg.svg" alt="">
                            <img src="../../../assets/images/snapchat-ghost-svgrepo-com.svg.svg" alt="">
                            <img src="../../../assets/images/youtube-svgrepo-com.svg.svg" alt="">
                        </div>
                    </div>
                    <div>
                        <h5>CATEGORIES</h5>
                        <p class="text-[#E5D4D4] pt-6"><a href="">Men</a></p>
                        <p class="text-[#E5D4D4] pt-6"><a href="">Women</a></p>
                        <p class="text-[#E5D4D4] pt-6"><a href="">Dresses</a></p>
                        <p class="text-[#E5D4D4] pt-6"><a href="">Sunglasses</a></p>
                    </div>
                    <div>
                        <h5>LINKS</h5>
                        <p class="text-[#E5D4D4] pt-6"><a href="">Search</a></p>
                        <p class="text-[#E5D4D4] pt-6"><a href="">About Us</a></p>
                        <p class="text-[#E5D4D4] pt-6"><a href="">Contact Us</a></p>
                        <p class="text-[#E5D4D4] pt-6"><a href="">Returns</a></p>
                    </div>
                    <div>
                        <h5>HELP</h5>
                        <p class="text-[#E5D4D4] pt-6"><a href="">Track Order</a></p>
                        <p class="text-[#E5D4D4] pt-6"><a href="">Returns</a></p>
                        <p class="text-[#E5D4D4] pt-6"><a href="">Shipping</a></p>
                        <p class="text-[#E5D4D4] pt-6"><a href="">FAQs</a></p>
                    </div>
                    <div>
                        <h5 class="pb-6">NEWSLETTER</h5>
                        <input class="block  border-b outline-none w-[320px] mb-9" type="text" placeholder="emai@examlpe.com">
                        <a href=""><button
                                class="w-[100px] h-[40px] bg-black text-white rounded-3xl ">SUBSCRIBE</button></a>
                    </div>

                </div>
                <div class="flex justify-center space-x-9 mt-36">
                    <img src="../../../assets/images/image 4.svg" alt="">
                    <img src="../../../assets/images/image 5.svg" alt="">
                    <img src="../../../assets/images/image 6.svg" alt="">
                    <img src="../../../assets/images/image 7.svg" alt="">
                    <img src="../../../assets/images/image 8.svg" alt="">
                </div>
                <div class="text-center pt-14 pb-7">
                    <p>Copyright © 2018 All rights reserved. | This template is made with by Colorlib</p>
                </div>
            </div>

        </section>
    </footer>
</div>